body {
    text-align: justify;
    font-family: 'Times New Roman';
    color: indigo;
    background-color: lightblue;
    width: 600px;
    margin: auto;
}

h1 {
    text-shadow: 0 0 4px rgb(114, 112, 216);
    text-align: center;
}

h2 {
    text-shadow: 0 0 1px rgb(114, 112, 216);
    border-top: 1px dashed rgb(114, 112, 216);
    text-align: center;
    font-style: italic;
}

table {
    border: 3px ridge indigo;
    margin: auto;
    margin-bottom: 80px;
    width: 400px;
    border-spacing: 10px;
}

canvas {
    display: block;
    border: ridge 3px indigo;
    background-color: White;
    margin-bottom: 50px;
}

a,
a:visited {
    text-decoration: none;
    color: indigo;
}

a:hover {
    background-color: rgb(170, 170, 219);
}

div {
    font-size: 14px;
    position: relative;
    left: 200px;
    margin-bottom: 30px;
}